!dist/**
.travis.yml
src
test
tsconfig.json
tsfmt.json
tslint.json
swagger.config.json
tree-gateway-test.json
tree-gateway-test.yml
tree-gateway.json
Dockerfile
.dockerignore
.DS_Store 
.nyc_output
/middleware
/.vscode
coverage
logs
benchmark
